.main-nav-icon
    text-align: center
    width: 16px
    height: 17px
    margin-top: 3px    
    &.icon-active-betslip
        background-image: url(../images/active-betslip-blue.svg)
    &.icon-betting-history
        background-image: url(../images/betting-history.blue.svg)
    &.icon-user
        background-image: url(../images/user-blue.svg)
    &.icon-lock
        background-image: url(../images/lock-blue.svg)
    &.icon-chat
        background-image: url(../images/chat-blue.svg)
    &.icon-settings
        background-image: url(../images/settings-blue.svg)
    &.icon-information
        background-image: url(../images/information-blue.svg)
    &.icon-rg
      background-image: url(../images/rg-logo.svg)