<template>
  <div class="login-user-component">
    <v-dialog
      ref="login-dialog"
      v-model="dialog"
      max-width="420"
    >
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Login</v-toolbar-title>
        </v-toolbar>
        <v-alert type="error" icon="mdi-alert-circle" v-if="loginError" style="color: red; border-radius: 0; text-aling: center;" text outlined>
          {{ loginError }}
        </v-alert>
        <v-card-text style="margin-top: 20px;">
          <v-form autocomplete="off">
              <v-text-field
                prepend-icon="mdi-account"
                name="login"
                clearable
                label="Login"
                type="text"
                autocomplete="off"
                v-model="username"
              ></v-text-field>
              <v-text-field
                id="password"
                clearable
                prepend-icon="mdi-lock"
                name="password"
                label="Password"
                type="password"
                autocomplete="off"
                v-model="password"
              ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>

    </v-dialog>

  </div>
</template>

<script>
import { eventBus } from '@/services/eventBus'

export default {
  name: 'LoginDialog',

  data () {
    return {
      dialog: false,
      loginError: null,
      username: 'user1@test.com',
      password: 'pass1'
    }
  },
  methods: {
    showLoginDialog () {
      this.loginError = null
      this.dialog = true
    },
    async login () {
      try {
        this.loginError = null
        const success = await this.$store.dispatch('wallet/login', {
          username: this.username,
          password: this.password
        }, { root: true })
        if (success) {
          this.dialog = false
          eventBus.$emit('login-success')
        } else {
          this.loginError = 'Wrong username or password. Please try again.'
        }
      } catch (error) {
        this.loginError = error
      }
    }
  }
}
</script>

<style scoped>
.register-user-component {
  background-color: blueviolet;
  font-size: 22px;
}
</style>
