<template>
  <div>
    <LoginDialog ref="loginDialog" />
  </div>
</template>

<script>
import { eventBus } from '@/services/eventBus'

import LoginDialog from './LoginDialog.vue'

export default {
  components: {
    LoginDialog
  },
  mounted () {
    eventBus.$on('show-login', () => {
      this.$refs.loginDialog.showLoginDialog()
    })
  }
}

</script>

<style>

</style>
