.icon-acc-summary
    background-image url("../images/summary.svg") !important
.icon-acc-settings
    background-image url("../images/settings.svg") !important
// .icon-acc-rg
//     background-image url("../images/rg-logo.svg") !important
//     height: 25px !important
//     width: 25px !important
.icon-acc-rg-stop
    background-image url("../images/responsible_gaming.svg") !important
.icon-active-bets
    background-image url("../images/active_bets.svg")!important
.icon-settled-bets
    background-image url("../images/settled_bets.svg")!important
.icon-tx-history
    background-image url("../images/tx_history.svg")!important
.icon-w2g
    background-image url("../images/w2g.svg")!important
.icon-logout
    background-image url("../images/logout.svg")!important
// .NJ
//     .icon-acc-rg
//         background-image url("../images/rg-logo-nj.svg") !important


