<template>
  <div class="about-wallet-component">
    <img src="../assets/logo.jpg" width="50" height="50">
    <p><strong>Integrated Wallet</strong> about component.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>
.about-wallet-component
  padding 10px
  margin 10px
  background-color rgb(195, 139, 248)
  display flex
  align-items center
  p
    margin-left: 12px
</style>
