<template>
  <div class="login-user-component">
    <v-card class="login-component-content elevation-1">
      <div>
        <v-img
          src="https://cdn.vuetifyjs.com/images/parallax/material2.jpg"
          gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
          height="150"
        ></v-img>
        <h2>Login to FD wallet</h2>
      </div>

      <v-alert type="error" icon="mdi-alert-circle" v-if="loginError" style="color: red; border-radius: 0; text-aling: center;" text outlined>
        {{ loginError }}
      </v-alert>
      <v-card-text style="margin-top: 20px;">
        <v-form autocomplete="off">
            <v-text-field
              prepend-icon="mdi-account"
              name="login"
              clearable
              label="Login"
              type="text"
              autocomplete="off"
              v-model="username"
            ></v-text-field>
            <v-text-field
              id="password"
              clearable
              prepend-icon="mdi-lock"
              name="password"
              label="Password"
              type="password"
              autocomplete="off"
              v-model="password"
            ></v-text-field>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn @click="login">Login</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { eventBus } from '@/services/eventBus'

export default {
  name: 'Login',

  data () {
    return {
      loginError: null,
      username: 'user1@test.com',
      password: 'pass1'
    }
  },
  methods: {
    async login () {
      try {
        this.loginError = null
        const success = await this.$store.dispatch('wallet/login', {
          username: this.username,
          password: this.password
        }, { root: true })
        if (success) {
          this.dialog = false
          eventBus.$emit('login-success')
        } else {
          this.loginError = 'Wrong username or password. Please try again.'
        }
      } catch (error) {
        this.loginError = error
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.login-user-component
  display flex
  justify-content center
  margin 0 auto
  .login-component-content
    width 500px
    margin 20px
  h2
    display: flex;
    justify-content: center;
    margin 10px

.register-user-component
  background-color blueviolet
  font-size 22px

</style>
