<template>
  <div class="sample-component">
    <h1 >This is sample component from FD wallet.</h1>
    <a style="color: blue; text-decoration: underline;" @click="click">Click here to send event to main app to show modal dialog.</a>
  </div>
</template>

<script>
import { eventBus, appEvents } from '@/services/eventBus'

export default {
  methods: {
    click () {
      eventBus.$emit(appEvents.showModalDialog, {
        title: 'Hello from FD module!',
        text: 'This text is sent from the wallet module via evenBus to the main application.'
      })
    }
  }
}
</script>

<style scoped lang="stylus">
.sample-component
  background lightblue
  border 2px solid blue
  padding 10px
  border-radius 10px
  &:hover
    background orange
</style>
