<template>
  <div class="about-wallet-component">
    <img src="../assets/logo.jpg" width="150" >
    <p><strong>FD wallet</strong> about component.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos hic aspernatur alias sunt tempora excepturi ratione distinctio eius nulla, beatae quaerat nemo accusantium facere autem non ad sapiente voluptas cupiditate.</p>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="stylus" scoped>
.about-wallet-component
  padding 10px
  margin 10px
  background-color lightblue
  display flex
  flex-direction column

  align-items center
  font-size 24px
  p
    margin-left 12px
    margin-top 16px
    text-align center
</style>
