<template>
  <div class="about" style="display: flex; align-items: center; justify-content: center;">
    <h1 style="margin-top: 40px;">This is the application about page</h1>
  </div>
</template>
<script>
export default {
  mounted () {
    console.log('About view mounted')
  }
}
</script>
