<template>
  <div style="display: flex; width: 100%; height: 100%; flex-direction: column; align-items: center;" >
    <h1 style="margin-top: 20px;">Homepage</h1>
    <h2>Application content goes here</h2>
    <div class="wallet-components">
      <p>In this div we demonstrate how to use components from wallet in the main application. There are three ways:</p>

      <div>
        <p>1. Use globally registered component created by the wallet module</p>
        <p>eg. <span class="code-text">&lt;w-sample-wallet-component /&gt;</span>:</p>
        <w-sample-wallet-component />
      </div>

      <div>
        <p>2. Import component from predefined path in wallet directory</p>
        <p>eg. <span class="code-text" >import SampleWalletComponent from '#wallet#/components/SampleWalletComponent.vue'</span></p>
        <SampleWalletComponent />
      </div>

      <div>
        <p>3. Using <a href="https://vuejs.org/v2/guide/components.html#Dynamic-Components">Vue dynamic component</a></p>
        <p>eg. <span class="code-text">&lt;component :is="componentName"&gt;</span></p>
        <component :is="walletAboutComponentPath"></component>
      </div>

      <p style="text-align: right; margin-top:50px; font-size: 14px;"><em>Note: see source code for all details.</em></p>
    </div>
  </div>
</template>

<script>
import SampleWalletComponent from '#wallet#/components/SampleWalletComponent.vue'

export default {
  name: 'Home',

  components: {
    SampleWalletComponent
  },

  computed: {
    walletAboutComponentPath () {
      // using webpack dynamic import for dynamic component loading
      // https://webpack.js.org/api/module-methods/#dynamic-expressions-in-import
      // https://webpack.js.org/api/module-methods/#magic-comments
      return () => import(/* webpackMode: "eager" */ '#wallet#/components/SampleWalletComponent')
    }
  }
}
</script>

<style scoped lang="stylus">
.wallet-components
  margin-top 40px
  text-align center
  padding 20px
  border 1px solid black
  > *
    margin-top 20px
  > div
    margin-top 40px
  div > p
    text-align left
.code-text
  font-family monospace
  font-weight bold
  color blue
</style>
