<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="290"
    >
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>
          {{ text }}
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green darken-1"
            text
            @click="close"
          >
            Cancel
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="close"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    title: {},
    text: {}
  },
  data () {
    return {
      dialog: true
    }
  },
  methods: {
    close () {
      this.dialog = false
      this.$emit('close')
    }
  }
}
</script>

<style>

</style>
