<template>
  <div>
    <template v-if="isLoggedIn">
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{ fullName }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
    <template v-else>
      <v-list-item class="">
        <v-list-item-content>
          <v-list-item-title>You are not logged in</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>

    <v-divider></v-divider>

    <v-list
      nav
      dense
    >
      <v-list-item-group
        v-model="group"
        active-class="deep-purple--text text--accent-4"
      >
      <div v-for="(item, index) in navItems" :key="index" @click="click(item)">
        <template v-if="item.isSeparator">
          <v-divider></v-divider>
        </template>
        <template v-else>
          <v-list-item>
            <v-list-item-icon>
              <template v-if="item.iconType == 'css-class'">
                <!-- <v-icon>mdi-home</v-icon> -->
                <v-icon class="item-icon">{{ item.icon }} </v-icon>
              </template>
              <template v-else-if="item.iconType === 'url'">
                <!-- <v-img width="24" height="24" src="https://randomuser.me/api/portraits/men/78.jpg"></v-img> -->
                <v-img class="item-icon" :src="item.icon"></v-img>
              </template>
            </v-list-item-icon>
            <v-list-item-title>{{ item.name }}</v-list-item-title>
          </v-list-item>
        </template>
      </div>
      </v-list-item-group>
    </v-list>
  </div>

</template>

<script>
import wallet from '#wallet#'
const walletNavItems = wallet.getNavItems()

export default {
  data () {
    return {
      group: null
    }
  },
  methods: {
    click (item) {
      this.$router.push(item.href)
    }
  },
  computed: {
    isLoggedIn () {
      return this.$store.getters['wallet/isLoggedIn']
    },
    navItems () {
      const publicNavItems1 = [
        {
          name: 'Home',
          href: '/',
          icon: 'mdi-home',
          iconType: 'css-class'
        },
        {
          isSeparator: true
        }
      ]
      const publicNavItems2 = [
        {
          name: 'About app',
          href: '/about',
          icon: 'mdi-information',
          iconType: 'css-class'
        }
      ]
      return publicNavItems1
        .concat(this.walletNavItems)
        .concat(publicNavItems2)
    },
    fullName () {
      return `${this.$store.getters['wallet/firstName']} ${this.$store.getters['wallet/lastName']}`
    },
    walletNavItems () {
      // if user is not logged in get just public items that wallet exposes
      return walletNavItems.filter(i => i.publicItem || this.isLoggedIn)
    }
  }
}
</script>

<style scoped>
.v-list-item__icon {
  margin-right: 16px;
}
.v-avatar.v-list-item__avatar {
  margin-right: 12px;
}

.item-icon {
  width: 24px;
  height: 24px;
}
</style>
