<template>
  <v-snackbar v-model="snackbar" light :color="backgroundColor">
    {{ text }}
    <template v-slot:action="{ attrs }">
      <v-btn
        color="pink"
        text
        v-bind="attrs"
        @click="close"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
import { eventBus } from '@/services/eventBus'

export default {
  data () {
    return {
      snackbar: false,
      text: '',
      backgroundColor: '#fff'
    }
  },

  methods: {
    close () {
      this.snackbar = false
      this.text = ''
    },
    showMessage (text) {
      if (this.snackbar) {
        this.snackbar = false
      }
      this.$nextTick(() => {
        this.snackbar = true
        this.text = text
      })
    }
  },

  mounted () {
    eventBus.$on('user-logged-out', () => {
      this.backgroundColor = '#fed8b1'
      this.showMessage('You have been logged out. Good bye!')
    })

    eventBus.$on('login-success', () => {
      this.backgroundColor = '#cfe4ef'
      this.showMessage('Welcome! You can place some bets now.')
    })
  }
}
</script>

<style>

</style>
