<template>
  <div>
    Wallet options:
    <ul>
      <li v-for="(item, index) in getWalletNavItems()" :key="index">
        <div>
          {{item}}
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import wallet from '#wallet#'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    getWalletNavItems () {
      return wallet.getNavItems()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="stylus">

</style>
