<template>
  <v-app>
    <div data-app>
      <v-card class="mx-auto overflow-hidden root-app-element">
        <v-app-bar color="blue">
          <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
          <v-toolbar-title>{{ walletName }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <template v-if="!isLoggedIn">
            <v-btn @click="login" color="primary" style="margin-right: 16px;">Login</v-btn>
            <v-btn @click="register">Register</v-btn>
          </template>
          <template v-else>
            <label style="margin-right: 20px;">Hello, {{ firstName }}!</label>
            <v-btn @click="logout">Logout</v-btn>
          </template>

        </v-app-bar>

        <WalletDialogs />

        <AppSnackbar />

        <v-navigation-drawer v-model="drawer" absolute temporary>
          <AppNavigationSidebar />
        </v-navigation-drawer>

        <div class="router-view-container">
          <router-view></router-view>
        </div>
      </v-card>
    </div>

    <v-overlay :value="isProcessing" style="z-index: 999">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>

    <AppModalDialog
      v-for="(dialog,i) in modalDialogs"
      :key="i"
      :text="dialog.text"
      :title="dialog.title"
      @close="removeDialog(dialog)"
    />
  </v-app>
</template>

<script>
import wallet from '#wallet#'
import WalletDialogs from '#wallet#/components/TopLevelDialogs'
import AppNavigationSidebar from '@/components/AppNavigationSidebar'
import AppSnackbar from '@/components/AppSnackbar'
import AppModalDialog from '@/components/AppModalDialog'
import { eventBus, appEvents } from '@/services/eventBus'

export default {
  name: 'App',
  components: {
    AppNavigationSidebar,
    WalletDialogs,
    AppSnackbar,
    AppModalDialog
  },

  data: () => ({
    drawer: false,
    modalDialogs: []
  }),

  computed: {
    walletName () {
      return wallet.name
    },
    isLoggedIn () {
      return this.$store.getters['wallet/isLoggedIn']
    },
    firstName () {
      return this.isLoggedIn
        ? this.$store.getters['wallet/firstName']
        : ''
    },
    isProcessing () {
      return this.$store.state.wallet.loading
    }
  },
  methods: {
    register () {
      wallet.register()
    },
    login () {
      wallet.login()
    },
    logout () {
      wallet.logout()
    },
    removeDialog (dialog) {
      const index = this.modalDialogs.indexOf(dialog)
      if (index > -1) {
        this.modalDialogs.splice(index, 1)
      }
    }
  },

  created () {
    wallet.tryAutoLogin()
  },
  mounted () {
    eventBus.$on(appEvents.showModalDialog, dialogInfo => {
      this.modalDialogs.push(dialogInfo)
      console.log(this.modalDialogs)
    })
  }

}
</script>

<style>
.root-app-element {
  height: 100vh;
}
.router-view-container {
  height: calc(100vh - 64px);
}
</style>
